streamlit==1.28.1
openai==1.2.3
openpyxl==3.1.2
iso639==0.1.4
streamlit_lottie
streamlit_option_menu
iso639
Flair 
presidio_analyzer 
presidio_anonymizer
pymupdf==1.23.5
pyperclip==1.8.2
moviepy==1.0.3
langchain 
pypdf==3.17.0
tiktoken==0.3.3
boto3==1.17.106
openai==1.2.3
nltk==3.8.1